# Auto detect text files and perform LF normalization
* text=auto

# Go source files always have LF line endings
*.go text eol=lf

# Shell scripts always have LF line endings
*.sh text eol=lf

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf
*.cmd text eol=crlf
